<main>

  <div class="aIzquierda center-block center-align" ng-hide="currentUser">
    <p>LOGIN</p>
    <form action="">
      <div class="form-group">
        <i class="material-icons">&#xE853;</i>
        <input type="text" name="name" value="" placeholder="usuario" ng-model="username">
      </div>
      <div class="form-group">
        <i class="material-icons">&#xE0DA;</i>
        <input type="password" name="name" value="" placeholder="contraseña" ng-model="password">
      </div>
      <button type="button" name="button" class="btn waves-light waves-effect blue lighten-1" ng-click="signin()">Iniciar sesión</button>
      <span>No tienes cuenta?, <a href="#/signUp">Registrate</a></span>
    </form>
  </div>
  <div ng-show="currentUser">
    <h4>Hola! {{currentUser}}</h4>
    <a href ng-click="logout()">Cerrar sesión</a>
  </div>
  <div class="aDerecha">
    <div class="new-post" ng-show="currentUser">
      <input ng-model="newPostTitle" type="text" class="form-control" placeholder="Título">
      <input ng-model="newPostText" type="text" class="form-control" placeholder="Texto">
      <button type="button" name="nuevo-post" class="btn waves-light waves-effect blue lighten-1" ng-click="submitNewPost()">Envia</button>
    </div>
    <div class="postDiv" ng-repeat="post in posts">
      <div class="toDerecha" ng-show="currentUser">
        <a href ng-click="delPost(post)"><i class="material-icons">&#xE92B;</i></a>
      </div>
      <div class="postHeader"><i class="material-icons">&#xE853;</i>Autor: <b>{{post.user}}</b>, on  <b>{{post.date | date}}</b></div>
      <h3>{{post.title}}</h3>
      <p>{{post.text}}</p>
    </div>
  </div>
</main>
