main{
  padding: 20px;
}

.postDiv{
  border: solid 1px black;
  margin: 10px;
  padding: 10px;
}

.aDerecha :hover{
  background-color: #fff3e0 ;
}

.postHeader{
  border-bottom: solid 1px black;

  padding: 5px;
}

.post-text{
  margin-left: 10px;
}

.new-post{
  border: solid 1px black;
  margin: 10px;
  padding: 10px;
}

.centrado{
  text-align: center;
  margin: 10px auto 10px auto;
}

.micuenta{
  margin: 10px auto 10px auto;
  text-align: center;
}

.toDerecha{
  width: 70%;
}

.aIzquierda{
  width: 50%;
  margin-bottom: 20px;
  border: solid 1px grey;
  padding: 20px;
  border-radius: 10px;
}

.aDerecha{
  float: right;
  width: 100%;
}

/*NAVBAR*/
nav{
  padding-left: 20px;
  padding-right: 80px;
}
nav.navbar-material {
  background: #584b4f;
  border: none;
  box-shadow: none;
}
.navbar-material .nav-wrapper {
  background: #584b4f;
}

.nav-wrapper a{
  color: #ffb74d;
}
.navbar-material .nav-wrapper > ul > li > a {
  color: white;
}
.navbar-material .nav-wrapper > ul > li > a :hover{
  color: #ffb74d ;
}
#topMenu li :hover{
  color: #ffb74d ;
}

.signUp{
  width: 70%;
  margin: 10px auto 10px auto;
  border: solid 1px grey;
  padding: 20px;
  border-radius: 10px;
}


.val-errors{
  background-color: #ffebee;
  color: red;
  border-radius: 5px;
}

.val-errors p{
  margin-left: 5px;
}
