body{
  background-color: #fff3e0;
}
main{
  padding: 20px;
}

.postDiv{
  margin: 10px;
  padding: 10px;
  border-top: solid 2px #584b4f;
}

.cajaPost{
  width: 80%;
  margin: 10px auto 10px auto;
}

.cajaComents{
  border-top: solid 2px #584b4f;
}

.cajaComents div{
  padding: 10px;

}

.aDerecha :hover{
background-color: #ffcc80;
}

.postHeader{
  border-bottom: solid 1px black;

  padding: 5px;
}

.post-text{
  margin-left: 10px;
}

.new-post{
  border: solid 1px grey;
  margin: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}

.aaa :hover{
  background-color: white !important;
}

.imgSmall{
  height: 100px;
  width: auto;
}

.imgBig{
  height: 200px;
  width: auto;
}

.postBody{
  margin-left: 5px;
}

.centrado{
  text-align: center;
  margin: 10px auto 10px auto;
}

.micuenta{
  margin: 10px auto 10px auto;
  text-align: center;
}

.toDerecha{
  width: 70%;
}

.aIzquierda{
  width: 70%;
  margin-bottom: 20px;
  border: solid 1px grey;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
}

.aDerecha{
  float: right;
  width: 100%;
}

/*NAVBAR*/
nav{
  padding-left: 20px;
  padding-right: 80px;
}

.side-nav, #mobile-demo{
  background-color: #584b4f;
}

.side-nav > ul > li > a :hover{
  color: #ffb74d ;
}

nav.navbar-material {
  background-color: #584b4f;
  border: none;
  box-shadow: none;
}
.navbar-material .nav-wrapper {
  background: #584b4f;
}

.nav-wrapper a{
  color: #ffb74d;
}
.navbar-material .nav-wrapper > ul > li > a {
  color: white;
}
.navbar-material .nav-wrapper > ul > li > a :hover{
  color: #ffb74d ;
}
#topMenu li :hover{
  color: #ffb74d ;
}

.signUp{
  width: 70%;
  margin: 10px auto 10px auto;
  border: solid 1px grey;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
}

.pHeader{
  border-bottom: solid 1px black;
}
.val-errors{
  background-color: #ffebee;
  color: red;
  border-radius: 5px;
}

.val-errors p{
  margin-left: 5px;
}
